
.card__line {
    display: none;

    height: 1px;
    width: 100%;
    background-color: gray;
}

.card__count {
    width: 100%;
    text-align: center;
    display: none;
}

.photo_upload_block {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    /* padding-left: 20px; */
}

.info_block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.view_row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top_block {
    position: relative;
    left: -20px;
}

.card_modile__status_block span {
    white-space: nowrap;
}



@media (max-width: 1200px) {
    .card_modile {
        width: 100%;
        /* max-width: 600px; */
        height: 250px;
        padding: 0;
        margin: 0;
    
        border-radius: 10px;
        border:  1px solid gray;
    
        position: relative;
        margin-bottom: 20px;
    }

    .card_modile__heading {
        font-size: 20px;
        position: absolute;
        top: 15px;
        left: 15px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card_modile__heading h2 {
        padding: 0 !important;
        margin: 0 !important;
        /* width: 100% !important; */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card_modile__buttons {
        position: absolute;
        font-size: 20px;
        position: absolute;
        top: 125px;
        right: 10px;
        padding: 0;
        margin: 0;
    }

    .card_modile__buttons > div {
        padding: 0;
        margin: 0;
    }

    .info_block {
        position: absolute;
        top: 75px;
        left: 15px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .card_modile__price {
        position: absolute;
        font-size: 30px !important;
        top: 75px;
        right: 25px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .card_modile__status_block {
        position: absolute;
        font-size: 30px !important;
        top: 125px;
        left: 15px;
        padding: 0 !important;
        margin: 0 !important;

        display: block;
        width: max-content !important;
    }

    .card__line {
        display: block;

        position: absolute;
        top: 175px;
        left: 0;
    }

    .card__count {
        display: block;

        position: absolute;
        top: 195px;
        left: 0;
        right: 0;

        font-size: 20px;
    }

    .desktop__count {
        display: none;
    }


}

@media (max-width: 600px) {
    .info_block {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        top: 65px;
    }

    .view_row {
        justify-content: flex-start;
    }

    .card_modile__heading h2 {
        font-size: 22px !important;
    }
}

@media (max-width: 500px) {
    .card_modile__heading h2 {
        max-width: 320px;
    }
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
}