.page_7 {
    padding-top: 81px;
}

@media (max-width: 800px) {
    .page_7 {
        padding: 20px 30px;
    }
}

@media (max-width: 650px) {
    .page_7 {
        padding: 10px 20px;
    }
}

.btn-rand {
    border:none;
    background:none;
}

.mobile-nav_device::-webkit-scrollbar {
    display: none;
}

.qwrqwereqwr32rvc {
    gap: 27px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.archive-hee {
    border-bottom: 1px solid #C5C5C5;
    padding: 21px 25px 21px 25px;
}

@media (max-width: 1400px) {
    .archive-hee {
        padding-left: 0;
    }
}

.pick__price {
    appearance: none;
    background: url('/public/img/bot.png') white no-repeat calc(100% - 10px) !important;
    width: 341px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    background-color: transparent;
    padding: 15px 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.pick__price option {
    color: #000;
}

.just__flexingfaa {
    display: flex;
    padding-top: 16px;
    align-items: center;
}

.numbers__faCoigCXff {
    color: #fff;
    box-sizing: content-box;
    margin-bottom: 35px;
    border-radius: 50px;
    background-color: #D9573B;
    width: 20px;
    height: 21px;
    text-align: center;
}

.container_added {
    max-width: 70%;
    margin: 0 auto;
}

@media (max-width: 1500px) {
    .container_added {
        max-width: unset;
        padding: 0 50px;
    }
}

@media (max-width: 700px) {
    .container_added {
        max-width: unset;
        padding: 0;
    }
}

.heading_input {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    margin-left: 5px;
    color: #C5C5C5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.df {
    display: flex;
}

.align {
    align-items: center;
}

.dg {
    display: grid;
}

.font_abel {
    font-family: 'Abel', sans-serif;
}

.font_inter {
    font-family: 'Inter', sans-serif;
}

/* page_5 start */

.device h2 {
    margin: 53px 0 35px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    color: #000;
}

@media (max-width: 1200px) {
    .device h2 {
        font-size: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 400px) {
    .device h2 {
        font-size: 25px;
    }
}

.device h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #000;
}

@media (max-width: 1200px) {
    .device h3 {
        font-size: 25px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.nav_list-1 {
    margin: 32px 0 39px 0;
    justify-self: start;
}

.nav_device {
    border-bottom: 1px solid #C5C5C5;
    border-top: 1px solid #C5C5C5;
}




.nav_device-1 h2 {
    text-align: center;
    height: 70px;
    width: 200px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000;
    padding: 18px 0;
}

.nav_device-1-active {
    cursor: pointer;
    border-bottom: 5px solid #D9573B;
}

.nav_device-2 h2 {
    text-align: center;
    height: 70px;
    width: 200px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000;
    padding: 18px 0;
}


.nav_device-but a {
    padding: 14px 53px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    background: #D9573B;
    border-radius: 10px;
}


.big_nav-devicefsadsad {
    margin: 0 0 20px 0;
    padding: 30px 25px 30px 25px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
}

.big_nav-text_2 {
    flex-basis: 60%;
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.tex-1 {
    justify-content: space-between;
    width: 100%;
}


.big_nav-text_1 {
    width: 100%;
    flex-basis: 40%;
}

.big_nav-text_1 h2 {
    padding: 0 0 0 30px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000;
}

.tex-2 h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000;
}

.tex-1 h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000;
}

.tex-1 h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000;
}

.nav_applications-text h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* padding-left: 40px; */
    width: max-content;
    color: #000;
}

.applications_text-2 h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #6E96FF;
}

.applications_text-2 h3 {
    font-family: 'Roboto' !important;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.dubl-btn-free,
.dubl-but-blue {
    border: 1px solid #D9573B;
    background: #D9573B;
    border-radius: 5px;
    padding: 6px 20px 5px 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.dubl-but-blue {
    border-color: #5674EB;
    background: #5674EB;
}

.dubl-but-green {
    border-color: #3ED93B;
    background: #3ED93B;
}

.dubl-btn-free:hover,
.dubl-but-blue:hover {
    background-color: #fff;
    border: 1px solid #D9573B;
    color: #D9573B;
}

.btn_6PopUpBack {
    padding: 15px 50px;
    border: 1px solid #C5C5C5;
    border-radius: 15px;
    font-style: normal;
    margin-right: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    background: transparent;
}

.nav_applications-1 {
    /* justify-content: space-between; */
    /* width: 67%; */
    margin: 20px 0 0 20px;
    gap: 255px;
}


.nav_applications-2 {
    margin-left: auto;
}

.applications_text-2 {
    width: 100% !important;
}


.nav_list-1 {
    justify-content: space-between;
}

.nav_applications-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0 0 0 0px;
}

.nav_applications-img img {
    cursor: pointer;
    margin: 0 0 0 15px;
}

.nav_list-1_info {
    gap: 70px;
    /* justify-content: space-between; */
    /* width: 26%; */
}

.inf_text-1 h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}

.inf_text-2 h2 {
    margin: 0 0 0 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}

.dubl-btn {
    position: relative;
    top: 7px;
}

.dubl-but {
    padding: 6px 49px !important;
    background: #E8D52C !important;
    border: 1px solid #E8D52C !important;
    position: relative;
    top: 7px;
}

.dubl-but:hover {
    border: 1px solid #E8D52C !important;
    background-color: #fff !important;
    color: #E8D52C !important;
}

.nav_applications-img_2 {
    position: relative;
    left: 53px;
}

.nav_applications-img_2 p {
    position: relative;
    top: 25px;
    margin: 0 0 0 19px;
    width: 135px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

/* page_5 end */
@media (max-width: 1490px) {
    .mobile-big_nav-device {
        flex-direction: column;
        align-items: flex-start !important;
        border: none;
        padding-left: 0px;
    }

    .mobile-tex-1 {
        flex-direction: column;
        gap: 60px;
    }

    .mobile-big_nav-text_2 {
        align-items: flex-start !important;
    }

    .mobile-big_nav-text_2 {
        margin: 0;

    }

    .mobile-big_nav-text_1 h2 {
        padding: 0;
        margin-bottom: 60px;
    }

    .mobile-h {
        display: flex;
        flex-direction: row;
    }

    .mobile-nav_applications-3 {
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 30px 20px;
    }

    .mobile-applications_text-2 {
        margin-top: 70px;
        align-items: flex-end !important;
        gap: 60px;
        flex-direction: column;
    }

    .mobile-nav_applications-text {
        margin-left: auto;
    }

    .mobile_nav_list-1_info {
        display: none !important;
    }
}

@media (max-width: 1860px) {
    .applications_text-2 {
        justify-content: space-between;
        width: 55vh;
    }
}

@media (max-width: 1280px) {

    .nav_applications-3 {
        /* justify-content: space-between; */
        width: 100%;
        gap: 0;
        /* margin: 20px 0 0 0; */
    }

    .nav_line {
        display: none;
        width: 100%;
    }

    .nav_list-1 {
        display: block;
    }

    .nav_device {
        /* border-top: none; */
        /* margin: 0 0 40px 0; */
        /* width: 43.5%; */
    }

    .nav_device-2 h2 {
        width: 250px;
    }

    .nav_device-1 h2 {
        width: 250px;
    }

    .nav_list-1_info {
        display: none;
    }

    .nav_applications-1 {
        display: block;
    }

    .nav_applications-2 {
        padding: 0 0 0 20px;
        gap: 0;
        /* margin: 35px 0 0 0; */
        display: block;
    }

    .nav_applications-2 df {
        margin-left: auto;
    }

    .nav_applications-text {
        display: block;
    }

    .applications_text-2 {
        width: 18vh;
        display: block;
    }

    .tex-2 h2 {
        padding: 15px 0;
        margin: 0;
    }

    .big_nav-text_2 {
        /* margin: 0; */
        width: 100%;
    }

    .big_nav-text_1 h2 {
        padding: 15px 0;
    }

    .big_nav-devicefsadsad {
        /* display: block; */
        margin: 0;
        /* width: 25%; */
        /* padding: 0; */
        /* border: none; */
        /* border-radius: 0; */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .h {
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 75%;
        padding: 31px 25px 26px 30px;
        border: 1px solid #C5C5C5;
        border-radius: 10px;
    }

    .nav_applications-1 {
        display: none;
    }

    .tex-1 {
        display: block;
    }

    .big_nav-text_2 {
        display: block;
    }

    .tex-1 h2 {
        padding: 15px 0;
    }

    .tex-1 h3 {
        padding: 15px 0;
    }

    .nav_applications-img {
        /* transform: translateY(10px); */
        width: max-content;
        padding: 15px 0;
        margin: 0;
    }

    .nav_applications-img img {
        cursor: pointer;
        margin: 0 15px 0 0;
    }

    .nav_applications-img_2 {
        display: none;
    }

    .applications_text-2 h4 {
        padding: 0;
        margin: 0;
    }

    .applications_text-2 h3 {
        padding: 0;
        margin: 0;
    }

    .nav_list-1 {
        flex-direction: column-reverse;
    }

    .mobile-nav_device-but {
        padding-bottom: 40px;
    }

    .mobile-nav_device {
        width: 100%;
    }

    .mobile-nav_device-2 {
        margin-left: auto;
    }

    .mobile-h {
        width: 100%;
    }

    .mobile-nav_applications-3 {
        align-items: flex-end !important;
        padding-top: 0;
        margin-top: 15px;
    }

    .mobile-nav_applications-2 {
        margin-top: 10px;
    }

    .mobile-g {
        flex-direction: column;
    }

    .h-mobile {
        flex-direction: column;
    }

    .mobile-descrip textarea {
        width: 500px
    }
}

@media (max-width: 920px) {
    .h-mobile {
        padding: 0;
        border: none;
    }

    .mobile-accom_1 h2 {
        font-size: 24px;
        font-weight: 400;
        max-width: 282px;
    }

    .mobile-accom_1 h3 {
        font-size: 16px;
        line-height: 19px;
        max-width: 353px;
    }

    .servic_text-mobile h2 {
        font-size: 16px;
        line-height: 19px;
        max-width: 353px;
    }

    .mobile-description_img {
        display: none;
    }

    .mobile-description_text h2 {
        margin: 10px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }

    .mobile-descrip {
        width: 100%;
    }

    .mobile-descrip textarea {
        width: 100%;
    }

    .mobile-servics_text-big {
        width: 100%;
    }

    .servis-mobile {
        width: 100% !important;
    }

    .mobile-heading_text-img img {
        display: none;
    }

    .mobile-heading_text h2 {
        font-size: 16px;
        font-weight: 400;
        margin-left: 0;
    }

    .heading_input input {
        font-size: 16px;
    }

    .mobile-accom_2 {
        margin-left: 0;
    }

    .mobile-accom_2 h2 {
        font-size: 16px;
    }

    .mobile-accom_2 h3 {
        font-size: 13px;
    }

    .mobile-photo_upload-img {
        max-width: 267px;
        max-height: 228px;
        text-align: center;
    }

    /* .mobile-photo_upload-img img {
        width: 80%;
    } */

    .mobile-heading_button a {
        font-size: 24px;
        padding: 10px 95px 10px 90px !important;
    }
}

@media (max-width: 470px) {

    .mobile-heading_button a {
        width: 100%;
    }

    .accommodation {
        margin: 0 20px;
        display: block;
    }
}

@media (max-width: 750px) {
    .mobile-container_added {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 560px) {
    .big_nav-devicefsadsad {
        margin: 0 0px 0 0 !important;
    }

    .mobile-big_nav-text_1 h2 {
        font-size: 16px;
        padding: 0;
    }

    .mobile-big_nav-text_2 h2 {
        font-size: 16px;
        padding: 0;
    }

    .mobile-big_nav-text_2 h3 {
        font-size: 16px;
        padding: 0;
    }

    .mobile-nav_applications-3 {
        margin: 0;
        padding-right: 0;
    }

    .mobile-nav_applications-text h2 {
        font-size: 12px;
    }

    .mobile-nav_applications-2 {
        margin: 0;
    }

    .mobile-applications_text-2 {
        margin-top: 50px;
        gap: 30px;
    }

    .mobile-nav_applications-2 h4 {
        font-size: 16px;
    }

    .mobile-nav_applications-2 h3 {
        font-size: 14px;
    }

    .mobile-nav_applications-2 a {
        font-size: 10px;
    }
}

@media (max-width: 470px) {
    .mobile-big_nav-devicefsadsad {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .sadfwerwe {
        flex-direction: column-reverse;
    }

    .werewqrq {
        margin-bottom: 0 !important;
    }

    .uihadsfjdsa {
        position: relative;
        right: 20%;
    }
}

.nav_applications-text {
    flex-basis: 40%;
    flex-shrink: 1;
}

.nav_applications-2 {
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
    flex-grow: 1;
    width: 100%;
}

.applications_text-2 {
    justify-content: space-between;
}

.applications_text-2 h4 {
    flex-basis: 25%;
    text-align: start;
}

.applications_text-2 a {
    margin-right: 0;
    flex-basis: 25%;
    text-align: center;
}

.double_buttons {
    height: auto;
    width: 100%;
    margin-right: 0;
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}

.nav_applications-3 {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-text-left {
    flex-basis: 25%;
    text-align: left;
}

.nav-text-center {
    flex-basis: 25%;
    text-align: center;
}

.nav-text-right {
    flex-basis: 25%;
    text-align: right;
}

.modal-content__row_swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;

    margin-bottom: 20px;

}

.modal-content__row_swiper .swiper {
    margin-inline: 0;
}

.form__light-text {
    color: #C5C5C5;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;

    position: relative;
}

.modal_edit__icon {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 30px;
    left: -40px;
}

.modal__many_select {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.modal__many_select select {
    width: 200px;
    font-size: 15px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}

.mySwiper {
    border-radius: 10px;
    overflow: hidden;
}


@media (max-width: 690px) {
    .h {
        width: 100%;
    }

    .nav_device-1 h2,
    .nav_device-2 h2 {
        width: 180px;
    }
}

@media (max-width: 520px) {

    .nav_device-1 h2,
    .nav_device-2 h2 {
        width: 150px;
        padding: 0;
        height: 38px;
        font-size: 20px;
    }
}

