.pickSlider {
  height: 400px;
  max-width: 400px;

  &_item {
    display: flex;
    justify-content: center;
    padding: 20px 25px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #DECB8D;
  }
}