.main {
    padding-top: 68px;
}

.df {
    display: flex;
}

.poplocho {
    /* align-items: center; */
    flex: 1;
}

.poplocho h2 {
    padding-left: 10px;
    padding-right: 0!important;
}

.poplocho img {
    height: 20px;
    margin-right: 15px;
}

.img-content img {
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.img-content h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 5px 0 0 0;
}

.blocks .block  {
    border-bottom: 1px solid #C5C5C5;
}

.middle-block-2 .blocks .block {
    padding-bottom: 0px;
    align-items: center;
    width: 100%;
}


.stars p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 15px 0;
    color: #fff;
}

.stars img {
    margin: 0 6px;
}

.ul-wrap li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FDFDFD;
    cursor: pointer;
}

.ul-wrap li {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 60px;
}

.ul-wrap li img {
    margin: 0 10px 0 0;
}


.ul-wrap {
    flex: 1 1 auto;
    margin: 80px 0 0 0;
}

.left-content {
    background-color: #131313;
    width: 278px;
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.dffds {
    text-align: center;
    padding-top: 49px;
}

.icon h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.icon {
    align-items: center;
    margin: 130px 0 0 60px;
    padding-bottom: 50px;
}

.block-info {
    padding-left: 115px;
}

.middle-block-1 h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    border-bottom: 1px solid #C5C5C5;
    padding: 0 0 10px 0;
    width: 456px
}

.middle-block-1 h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 30px 0;
}

.middle-block-1 p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #C5C5C5;
    padding: 0 0 10px 0;
}

.middle-block-1 input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
}

.middle-block-1 input {
    border: none;
    border-bottom: 1px solid #C5C5C5;
    width: 456px;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.middle-block-1 h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C5C5C5;
    padding: 5px 0 0 0;
}

.middle-block-1 h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 25px 0 30px 0;
}

.mini-card {
    align-items: center;
    width: 297px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
    justify-content: center;
}

.mini-card img {
    margin: 0 15px 0 0;
}

.border {
    border: 3px solid rgb(207, 65, 13);
}

.btn button {
    background: #D9573B;
    border-radius: 15px;
    padding: 16px 31px 16px 29px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn {
    margin: 40px 0 0 0;
}

.middle-block-2 h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    border-bottom: 1px solid #C5C5C5;
    width: 456px;
    padding: 0 0 10px 0;
    white-space: nowrap;
}

.middle-block-2 h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0 150px 0 0;
}

.middle-block-2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.blocks {
    margin: 30px 0 0 0 ;
}

.block {
    justify-content: space-between;
    width: 100%;
    margin: 16px 0;
}
.line {
    width: 426px;
    height: 1px;
    background-color: #C5C5C5;
    margin: 16px 0 0 30px;
}

.main-block {
    justify-content: space-between;
    width: 93%;
}

/* .middle-block-2 {
    margin: 0 0 0 114px;
} */

@media (max-width: 1420px) {
    .block-info {
        padding-left: 60px;
    }
}

@media (max-width: 1370px) {
    /* .middle-block-2 {
        margin: 0 0 0 50px;
    } */

    .block-info {
        padding-left: 50px;
    }

    .middle-block-1 h1 {
        width: 400px;
    }

    .middle-block-1 input {
        width: 400px;
    }
}

@media (max-width: 1250px) {
    .middle-block-1 h1 {
        width: 390px;
    }

    .middle-block-1 input {
        width: 390px;
    }

    .middle-block-2 h1 {
        width: 400px;
    }

    .line {
        width: 370px;
    }

    .middle-block-2 h2 {
        padding: 0 110px 0 0;
    }
}

@media (max-width: 1170px) {
    .middle-block-1 h1 {
        width: 360px;
    }

    .middle-block-1 input {
        width: 360px;
    }

    .middle-block-2 h1 {
        width: 370px;
    }

    .line {
        width: 340px;
    }

    .middle-block-2 h2 {
        padding: 0 60px 0 0;
    }
}

@media (max-width: 1110px) {
    .block-info {
        padding-left: 30px;
    }

    .middle-block-1 h1 {
        width: 330px;
    }

    .middle-block-1 input {
        width: 330px;
    }

    .left-content {
        width: 260px;
    }
}

@media (max-width: 1040px) {
    /* .middle-block-2 {
        margin: 0 0 0 35px;
    } */

    .middle-block-1 h1 {
        width: 290px;
    }

    .middle-block-1 input {
        width: 290px;
    }

    .mini-card {
        width: 260px;
    }

    .middle-block-2 h1 {
        width: 350px;
    }

    .line {
        width: 320px;
    }
}


@media (max-width: 1110px) {
    .fixed-content {
        /* display: none; */
    }
}

@media (max-width: 970px) {
    .left-content {
        width: 240px;
    }

    .stars img {
        margin: 0 3.5px;
    }

    .middle-block-1 h1 {
        width: 270px;
    }

    .middle-block-1 input {
        width: 270px;
    }

    .middle-block-2 h1 {
        width: 320px;
    }

    .line {
        width: 290px;
    }

    .middle-block-2 h2 {
        padding: 0 35px 0 0;
    }
}

@media (max-width: 900px) {
    .block-info {
        padding-left: 20px;
    }

    .left-content {
        width: 225px;
    }

    .stars img {
        margin: 0 2.5px;
    }

    .mini-card {
        width: 240px;
    }

    .middle-block-2 h1 {
        width: 300px;
    }

    .line {
        width: 270px;
    }

    .middle-block-2 h2 {
        padding: 0 16px 0 0;
    }
}

@media (max-width: 850px) {
    .icon {
        padding-bottom: 42px;
    }

    .middle-block-1 h1 {
        width: 255px;
    }

    .middle-block-1 input {
        width: 255px;
    }

    .mini-card {
        width: 307px;
    }

    .middle-block-2 h1 {
        width: 290px;
    }

    .line {
        width: 260px;
    }
}

@media (max-width: 825px) {
    .left-content {
        width: 200px;
    }

    .middle-block-2ffsdfas h1 {
        width: 100% !important;
    }

    .stars img {
        margin: 0 1px;
    }

    .ul-wrap li {
        padding: 20px 0 20px 46px;
    }

    .icon {
        margin: 130px 0 0 46px;
    }

}

@media (max-width: 800px) {
    /* .middle-block-2 {
        margin: 0 0 0 20px;
    } */

    .left-content {
        height: 1000px;
        width: 279px;
    }

    .ul-wrap li {
        padding: 20px 0 20px 60px;
    }

    .icon {
        margin: 130px 0 0 60px;
    }

    .main-block {
        flex-direction: column;
    }


    .block-info {
        transform: translateY(-34px);
    }
}

@media (max-width: 800px) {
    .middle-block-2 h1 {
        width: 340px;
    }

    .line {
        width: 310px;
    }

    .middle-block-1 h1 {
        width: 310px;
    }

    .middle-block-1 input {
        width: 310px;
    }
}

@media (max-width: 680px) {
    .middle-block-1 h1 {
        width: 280px;
    }

    .middle-block-1 input {
        width: 280px;
    }

    .middle-block-2 h1 {
        width: 100%;
        font-size: 33px;
    }

    .line {
        width: 250px;
    }

    .block {
        width: 97%;
    }
}

@media (max-width: 610px) {
    .middle-block-1 h1 {
        width: 100%;
    }

    .middle-block-1 input {
        width: 250px;
    }

    .middle-block-1 h6 {
        width: 79%;
    }


    .middle-block-2 h1 {
        width: 250px;
        font-size: 30px;
    }

    .line {
        width: 220px;
    }

    .middle-block-2 h2 {
        padding: 0 0 0 0;
    }

    .left-content {
        width: 250px;
    }

    .stars img {
        margin: 0 4px;
    }
}

@media (max-width: 550px) {
    .left-content {
        width: 230px;
    }

    .stars img {
        margin: 0 2px;
    }

    .ul-wrap li {
        padding: 20px 0 20px 51px;
    }
}

@media (max-width: 503px) {
    .main {
        flex-direction: column;
    }

    .left-content {
        width: 278px;
    }

    .stars img {
        margin: 0 6px;
    }

    .ul-wrap li {
        padding: 20px 0 20px 60px;
    }

    /* .fixed-content {
        transform: translateX(-50.9px);
    } */
    .middle-block-1 h1 {
        width: 310px;
    }

    .middle-block-1 input {
        width: 310px;
    }

    .middle-block-1 h6 {
        width: 100%;
    }

    .middle-block-2 h1 {
        width: 340px;
        font-size: 35px;
    }

    .block {
        width: 100%;
    }

    .line {
        width: 310px;
    }

    .middle-block-2 h2 {
        padding: 0 80px 0 0;
    }

    .mini-card {
        width: 297px;
    }
}


.price_row {
    display: flex;
    align-items: center;
}