* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.align-center {
  align-items: center;
}



.wryweoi {
  padding: 0 !important;
}

.yandex__map__search {
  background: rgba(244, 244, 244, 0.9);
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 12px 0 13px 18px;
  border: 0;
  position: absolute;
  z-index: 1;
  left: 30%;
  width: 712px;
  margin-top: 15px;
}

.yandex__map__search::placeholder {
  color: #A9ABAD;
}



.paugfheotw {
  transform: translateY(-18px)translateX(21px);
  position: absolute;
}

.searchaproblemEnter {
  width: 93%;
  background: rgba(244, 244, 244, 0.9);
  border-radius: 15px;
  border: 0;
  padding: 18px 0px 18px 52px;
  margin-bottom: 35px;
}

.searchaproblemEnter::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #A9ABAD;


}

.asfdsa {
  padding-top: 81px;
}

.diplay-none {
  display: none !important;
}

.popupdetailfwpruhwe {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 200;
  padding-top: 30px;
  left: 0;
  top: 0%;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.modfdfsdafasal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-height: 90vh;
  overflow-y: scroll;
  overscroll-behavior: none;
  border-radius: 10px;
}


.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.align {
  align-items: center;
}

.df {
  display: flex;
}

.font {
  font-family: 'Abel', sans-serif;
}

/* section page_1 start */

.card_iphone-text h2 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000;
}

.card_iphone-text h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #030303;
}

.card_iphone-text_2 h2 {
  text-align: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2AB138;
}

.card_iphone-img_2 {
  margin: 0 0 10px 0;
}

.card_iphone-img_2 img {
  margin: 0 10px 0 0;
}

.model-content-fooo {
  width: 614px !important;
}

.card_iphone-text_3 h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #59A4E9;
}

.organization_text h2 {
  margin: 5px 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.big_card-phon_text {
  margin: 0 0 0 20px;
}

.infoo_text h2 {
  margin: 0 25px 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #9F9F9F;
}

.infoo_text-2 h2 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0C0C0C;
}

.infoo_text-2 h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #30BD4F;
}

.infoo_button .but button {
  cursor: pointer;
  border: none;
  background: #D9573B;
  border-radius: 8px;
  padding: 4px 10px 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.infoo_button {
  margin: 35px 0 0 15px;
}

.card {
  width: 350px;
  height: 280px;
  background: #F8F8F8;
  border-radius: 10px;
}

.information_text {
  margin: 0 0 0 25px;
}

.card_iphone {
  padding: 16px 0 0 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.align {
  align-items: center;
}

.df {
  display: flex;
}

.font {
  font-family: 'Abel', sans-serif;
}

/* section page_1 start */

.card_iphone-text h2 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000;
}

.card_iphone-text h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #030303;
}

.card_iphone-text_2 h2 {
  text-align: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2AB138;
}

.card_iphone-img_2 {
  margin: 0 0 10px 0;
}

.card_iphone-img_2 img {
  margin: 0 10px 0 0;
}

.card_iphone-text_3 h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #59A4E9;
}

.organization_text h2 {
  margin: 5px 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.big_card-phon_text {
  margin: 0 0 0 20px;
}

.infoo_text h2 {
  margin: 0 25px 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #9F9F9F;
}

.infoo_text-2 h2 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0C0C0C;
}

.infoo_text-2 h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #30BD4F;
}

.infoo_button .but button {
  cursor: pointer;
  border: none;
  background: #D9573B;
  border-radius: 8px;
  padding: 4px 10px 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.infoo_button {
  margin: 35px 0 0 15px;
}

.card {
  width: 350px;
  height: 280px;
  background: #F8F8F8;
  border-radius: 10px;
}

.information_text {
  margin: 0 0 0 25px;
}

.card_iphone {
  padding: 16px 0 0 16px;
}


#root {
  main {
    .main__info {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // gap: 30px;

      // padding-top: 81px;
      // padding-bottom: 34px;

      .main__info__content {

        .order__cards__to__scroll {
          height: 600px;
          padding-right: 30px;
          overflow-y: scroll;
        }


        h1 {
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 30px;
          color: #000000;
          padding-top: 27px;
          padding-bottom: 30px;
        }

        .main__info__content__card {
          border: 2px solid #C5C5C5;
          border-radius: 10px;
          width: 712px;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          gap: 10px;
          align-items: center;
          margin-bottom: 28px;

          @media (max-width: 770px) {
            width: calc(100% - 50px);
            margin-bottom: 15px;
          }

          .main__card__first {
            h4 {
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              padding-bottom: 36px;
              color: #000000;
            }

            p {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              // width: 426px;
              color: #000000;
            }
          }

          .main__card__price {
            font-size: 20px;
            color: #86B3E7;
            position: relative;
            left: -5px;
            top: 30px;
          }

          .main__card__second {
            button {
              margin-top: 26px;
              padding: 13px 0;
              width: 160px;
              background: #D9573B;
              border-radius: 15px;
              font-style: normal;
              font-weight: 400;
              border: 0;
              cursor: pointer;
              font-size: 20px;
              line-height: 24px;
              color: #FFFFFF;
            }
          }

          .main__card__third {
            width: 15px;
            height: 110px;
            border-radius: 7px;
            border: 2px solid #C5C5C5;

            &--active {
              background-color: #A0ED9E;
              border-color: #A0ED9E;
            }
          }


        }

        #myBtn {
          margin-top: 53px;
          padding: 13px 32px;
          width: 93%;
          background: #D9573B;
          border-radius: 10px;
          font-style: normal;
          font-weight: 400;
          border: 0;
          cursor: pointer;
          font-size: 20px;
          color: #FFFFFF;
        }

      }

      .main__info__image {
        text-align: center;

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          padding-top: 30px;
          text-align: center;
          max-width: 540px;
          color: #C5C5C5;
        }
      }
    }

    .detail__price {
      background: #F4F4F4;
      padding: 29px 0px;
      min-height: 150px;

      .container {
        display: flex;
        justify-content: space-between;

        .detail__price__card {
          border: 5px solid #A0ED9E;
          border-radius: 10px;
          background-color: #fff;
          text-align: center;
          width: 223px;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: center;

          .price {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              padding-left: 3px;
              width: 15px;
            }
          }

          h1 {
            font-family: 'Actor';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            color: #000000;
          }

          p {
            font-family: 'Actor';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 12px;
            padding-bottom: 10px;
            color: #020202;
            width: 147px;
            margin: 0 auto;
          }
        }

        .red {
          border: 5px solid #D9573B;
        }
      }
    }
  }
}

.popup-overlay {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.35);
}


.swiper-button-next,
.swiper-button-prev {
  color: #DECB8D;
}

.miniSwiperWrap {
  width: 100px;
  position: absolute;
  right: -100px;
  top: 5px;
}

.myMiniSwiper {
  width: 100%;

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 12px !important;
    color: black !important;
  }

  .swiper-button-prev {
    left: 0px !important;
  }
}

.miniSlider {
  width: 38%;
  margin: 0 !important;
  margin-left: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .yandex__map__search {
    left: 11px;
    width: 95%;
    font-size: 13px;
  }

  .oformitzayavka {
    width: 96% !important;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    // right: -2px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -2px;
  }

  .sliderr {
    margin-right: 0px !important;
    margin-left: 7px;
  }



  .order__cards__to__scrolls {
    // padding-right: 0px !important;
  }



  .first__s__card {
    display: flex;
    justify-content: center;
    border: 2px solid #C5C5C5;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .main__info__content__card {
    flex-basis: 95%;
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
  }

  .activeijpqwothweoruh {
    // display: block !important;
    display: none !important;
    flex-basis: 5%;
    margin: 10px;
    width: 15px;
    border-radius: 7px;
    border: 2px solid #C5C5C5;
  }


  .fageraccrt {
    background: #A0ED9E;
    border: 0;
  }
}




.actifffve {
  background: #A0ED9E;
  border: 0;
}



.detailpopuptitle {
  padding-top: 50px;
}

.modal-content-two {
  border-radius: 10px;
  width: 96%;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
}

/* Modal Content */
.modal-content {
  // width: 96%;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;

  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 20px;
  }

  // p {
  //   // padding-bottom: 62px;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 19px;
  //   color: #000000;
  // }

  form {
    input {
      // padding-bottom: 114px;
      border: 2px solid #C5C5C5;
      border-radius: 10px;
      padding: 20px 31px;
      font-style: normal;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      outline: none;
      // margin-bottom: 12px;

      @media (max-width: 600px) {
        padding: 10px;
      }

      &:focus {
        border: 2px solid #2B2B2B;
      }

      &::placeholder {
        color: #A4A4A4;
      }
    }

    .descdetail {
      padding-bottom: 114px;
      border: 2px solid #C5C5C5;
      border-radius: 10px;
      padding: 20px 31px;
      font-style: normal;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      outline: none;
      margin-bottom: 12px;

      @media (max-width: 600px) {
        padding: 10px;
      }

      &:focus {
        border: 2px solid #2B2B2B;
      }

      &::placeholder {
        color: #A4A4A4;
      }
    }

    button {
      margin-top: 26px;
      padding: 18px 50px;
      background: #D9573B;
      border-radius: 15px;
      font-style: normal;
      font-weight: 400;
      border: 0;
      cursor: pointer;
      font-size: 20px;
      // margin-bottom: 60px !important;

      line-height: 24px;
      color: #FFFFFF;
    }

    .button__edit {
      margin-bottom: 0 !important;
    }

    .df {
      width: 100%;
      display: flex;

      input {
        margin-right: 6px;
      }
    }
  }
}


.modal-content h1 {
  font-style: normal;
  padding-top: 52px;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.modal-content__edit h1 {
  padding-top: 0;
}

.gomodaldetailfgg {
  display: none !important;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





/* Modal Content */
.modal-content-two {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 584px;
}

.ismrf {
  margin-right: 0 !important;
}


.modal-content-two h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}

.modal-content-two p {
  width: 224px;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #000000;

}

.map__wrap {
  position: relative;
}


.style {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0px;
}

.order__cards__to__scrolls {
  height: 612px;
  padding-right: 43px;
  overflow-y: scroll;
}

.order__no-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 765px;
  height: 400px;

  @media (max-width: 800px) {
    width: 95%;
    margin: auto;
  }

  p {
    font-size: 20px;
    color: #9D9D9D;
    text-align: center;
    width: 80%;
  }
}

.order__cards__to__scrolls::-webkit-scrollbar {
  width: 10px;
}

.order__cards__to__scrolls::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.15);
  border-radius: 50px;


}

.order__cards__to__scrolls::-webkit-scrollbar-thumb {
  background: #888;
  width: 16px;
  background: #E2E2E2;
  border-radius: 30px;
}

/* Handle on hover */
.order__cards__to__scrolls::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.style_two {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 14px;
}

.style_th {
  position: relative;
}

.done-two {
  margin-top: 26px;
  padding: 15px 50px;
  background: #D9573B;
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  color: #FFFFFF;
}


@media (max-width: 600px) {

  .detail-container,
  .detail-price-container {
    max-width: 98% !important;
  }

  #root main .detail__price .container .detail__price__card {
    width: 150px;
  }
}

@media (max-width: 1100px) {
  .contfff {
    width: 100%;
  }
}

.active-card .main__card__third {
  background-color: #A0ED9E;
  border-color: #A0ED9E!important;
}

.mySwiper {
  width: 100%;
}


.order_edit-modal {
  padding: 20px 20px 20px 60px;
  width: 600px;
}


.modfdfsdafasal-error {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: #d9573b;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

// карточки мастера
.info_master {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  // border: 1px solid black;
  // width: 500px;
  width: max-content;
  height: 450px;
  position: relative;
  padding: 20px 40px 20px 20px;
  font-size: 16px;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__row1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }  

  &__about {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 20px;
    
    p {
      font-size: 18px;
    }
  }

  &__row-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
      color: #59A4E9;
      font-size: 14px;
    }
  }

  & > p {
    margin-bottom: 5px;
  }

  &__text-about-light {
    color: #9F9F9F;
    margin-right: 10px;
  }

  &__text-about--accent {
    color: #2AB138;
  }
}



.info_master_big {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  width: 500px;
  height: 500px;
  position: relative;
  padding: 20px 40px 20px 20px;
  font-size: 16px;

  @media (max-width: 500px) {
    width: 400px;
    height: unset;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__row1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }  

  &__about {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 20px;
    
    p {
      font-size: 18px;
    }
  }

  &__row-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
      color: #59A4E9;
      font-size: 14px;
    }
  }

  & > p {
    margin-bottom: 10px;
  }

  &__text-about-light {
    color: #9F9F9F;
    margin-right: 10px;
  }

  &__text-about--accent {
    color: #2AB138;
  }

  &__slide {
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.712);
    border-radius: 10px;

    padding-left: 20px;
  }
  
  &_swiper {
    padding-left: 50px !important;
    width: 200px;
  }

  &__text {
    margin-bottom: 30px !important;
  }
}


// список выбранных услуг
.selected_service {
  margin-top: 10px;
  margin-bottom: 10px;

  p {
    margin: 0;
  }

  &__heading {
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.715);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 10px 20px;
    margin-bottom: 10px;

    @media (max-width: 550px) {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__text-light {
    color: #BEBEBE;
  }

  &__text-price {
    white-space: nowrap;
    color: #D9573B;
  }

  &__arrow {
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    align-items: center;
  }

  &__services {
    border-radius: 10px;
    // border: 2px solid rgba(128, 128, 128, 0.715);
  }

  &__service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 20px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.317);
  }

  &__name {
    color: #707070;
  }

  &__price {
    color: #86B3E7;
    white-space: nowrap;
  }

  &__delivery {
    width: 100px;
    text-align: right;
  }

  &__final {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-inline: 30px;

    margin-top: 20px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      cursor: pointer;
      padding: 0;
    }
  }
}




// модальное в /services

@media (max-width: 700px) {
  .popupdetailfwpruhwe {
    padding: 0;
    margin: 0;
  }

  .modfdfsdafasal-content {
    padding: 0;

    h1 {
      padding: 0 !important;
    }
  }
}

@media (max-width: 500px) {
  .modfdfsdafasal-content {
    width: 96%;
  }
}