html,
body {
    overflow-x: hidden;
}

.info-about-personadsfsaddas {
    width: 95% !important;
}

.big_nav-devicefsdafstX {
    padding: 19px 24px;
    border-radius: 10px;
}

.fapsdiygfgoog {
    display: flex;
    align-items: center;
    width: 100%;
}

.myorders {
    padding-left: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 320px;
    height: 40px;
    color: #000;
}

.myorders p {
    margin-bottom: 0;
}

.myorders  img {
    padding-right: 12px;
}

.myorders span {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    font-size: 12px;

    color: white;
    background-color: #DA2D2D;

    box-sizing: content-box;
    border-radius: 50px;

    position: relative;
    left: 5px;
    bottom: 7px;


    display: inline-block;
    text-align: center;
    vertical-align: middle;    
}

.myorders-email {
    width: 342px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.fapsdiygfgoog input {
    width: auto !important;
    margin-bottom: 0 !important;
    padding-left: 8px !important;
}

.label-hours {
    padding: 10px 0px;
}

.label {
    margin-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.yesgp {
    padding-left: 20px;
}

.all__list {
    padding-top: 13px;
    display: block;
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #1586D9;
}

.popuptitle-n {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.df {
    display: flex;
}

.img-content img {
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.img-content h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 5px 0 0 0;
}

.stars p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 15px 0;
    color: #fff;
}

.stars img {
    margin: 0 6px;
}

.ul-wrap li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FDFDFD;
    cursor: pointer;
}

.ul-wrap li {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 60px;
}


.ul-wrap li img {
    margin: 0 10px 0 0;
}

.active {
    background-color: #353535;
}

.ul-wrap {
    flex: 1 1 auto;
    margin: 80px 0 0 0;
}

.left-content {
    background-color: #131313;
    width: 278px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dffds {
    text-align: center;
    padding-top: 49px;
}

.icon h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.allorder__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.allorder__title span {
    color: #A49B9B;
}

.client__order {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__client__order {
    padding-left: 16px;
}

.info__client__order h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.info__client__order p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.sewreqwreqw {
    padding-bottom: 0 !important;
}

.bbbmt {
    padding-top: 15px;
}

.fasfXf {
    padding: 19px 24px;
    margin-top: 0 !important;

}

.big_nav-devicefsdafstX > .fsdfsaooo > h2  {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.fsdfsaooo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.all-requests-title-container {
    flex-basis: 20%;
}

.all-requests-price-container {
    display: flex;
    justify-content: flex-end;
    flex-basis: 20%;
}

.nav_applications-3-gee {
    background-color: transparent !important;
}

.big_nav-device {
    background: #FFFFFF;
    border: 0 !important;
    margin-top: 15px;
}

.bri {
    height: 55%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    display: flex;
    justify-content: end;
}

.bri a {
    display: block;
    text-align: right;
    
}

.allorders {
    width: 100%;
    height: 60vh;
    background: #F7F7F7;
    border-radius: 10px;
    padding: 20px 25px;
}

.huge-fasfdsoiXC {
    padding-top: 45px;
    padding-bottom: 23px;
}

.icon {
    align-items: center;
    margin: 130px 0 0 60px;
    padding-bottom: 50px;
}

.block-info-4 {
    padding: 47px 0 0 85px;
}

.block-info-4 {
    width: 100%;
}

.huge-input-content {
    display: flex;
    align-items: center;
}

.huge-content h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
    padding: 0 0 0 20px;
}

.huge-input-content input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.huge-input-content input {
    width: 228px;
    height: 32px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 0 0 0 7px;
    outline: none;
}

.only-input input {
    width: 342px;
    height: 68px;
}

.two-input {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.huge-input-content {
    margin: 45px 0 0 0;
}

.two-input {
    margin-right: 30px;
}

.img-user h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 17px 20px;
    width: 295px;
}

.img-user {
    align-items: center;
}

.small-content-user h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 75px 0 0 0;
}

.small-content-user h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 10px 0 0 0;
}

.kichkina p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding: 0 0 0 15px;
}

.info-user h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 11px 0 0 0;
}

.info-user {
    margin: 0 0 0 30px;
}

.image-swiper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider-user button {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #D9573B;
    border-radius: 15px;
    padding: 8px 60px;
    border: none;
    margin: 30px 0 0 0;
}


.slider-content {
    align-items: center;
}

.img__2 {
    background: #F8F9FB;
    border-radius: 16px;
    width: 199px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 12px;
}

.mySwipetr {
    text-align: center;
    min-height: 350px;
}

.vpupi {
    align-self: stretch;
    object-fit: contain;
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 350px;
}

.swiper-slidetr {
    padding-top: 23px;
    font-size: 18px;
    background: #F8F9FB;
    border-radius: 16px;
}

.info-about-personadsfsaddas {
    align-items: center;
    justify-content: space-between;
    width: 1027px;
    height: auto;
    border: 1px solid #C5C5C5;
    border-radius: 15px;
    padding: 20px;
    margin: 40px 0 0 0;
}

.inter-header-left {
    flex-basis: 20%;
    text-align: start;
}

.inter-header-center {
    flex-basis: 60%;
    text-align: center;
}

.inter-header-right {
    flex-basis: 20%;
    text-align: end;
}

.slider-user {
    margin-left: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1398px) {
    .block-info-4 {
        padding: 47px 0 0 20px;
    }
}

@media (max-width: 1335px) {
    .block-info-4 {
        padding: 47px 0 0 20px;
    }


}

@media (max-width: 1155px) {

    .img-user h4 {
        width: 254px;
    }

    .info-about-personadsfsaddas {
        flex-direction: column;
        width: 100%;
    }
}


@media (max-width: 1075px) {
    .block-info-4 {
        padding: 47px 0 0 10px;
    }

    .small-content-user h5 {
        width: 68%;
    }


    .info-about-person {
        display: block;
        width: 490PX;
    }

    .img-user h4 {
        width: 150px;
    }
}

@media (max-width: 930px) {
    .left-content {
        width: 250px;
    }

    .stars img {
        margin: 0 5px;
    }
}

@media (max-width: 905px) {
    .info-about-person {
        flex-direction: column;
    }

    .small-content-user h5 {
        width: 100%;
    }

    .img-user h4 {
        width: 233px;
    }

    .only-input input {
        width: 259px;
    }

    .huge-input-content {
        width: 52%;
    }
}

@media (max-width: 765px) {
    .huge-input-content input {
        width: 195px;
    }

    .only-input input {
        width: 232px;
    }

    .huge-input-content {
        width: 46%;
    }

    .info-about-person {
        width: 430px;
    }
}

@media (max-width: 710px) {
    .main {
        flex-direction: column;
    }

    .left-content {
        width: 278px;
    }

    .stars img {
        margin: 0 6px;
    }

    .left-content {
        display: none;
    }

    .huge-input-content {
        width: 70%;
    }

    .block-info-4 {
        padding: 47px 0 0 30px;
    }
}

@media (max-width: 640px) {
    .huge-input-content {
        width: 80%;
    }
}

@media (max-width: 560px) {
    .huge-input-content {
        width: 85%;
    }
}

@media (max-width: 530px) {
    .huge-input-content {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .huge-input-content {
        width: 95%;
    }
}

@media (max-width: 470px) {
    .huge-input-content {
        width: 90%;
    }

    .info-about-person {
        width: 390px;
    }

    .block-info-4 {
        padding: 47px 0 0 15px;
    }

    .huge-input-content input {
        width: 170px;
    }

    .only-input input {
        width: 200px;
    }
}

@media (max-width:657px) {
    .huge-fasfdsoiXC {
        flex-direction: column;
    }
    .only-input {
        padding-top: 10px;
    }
}

@media (max-width: 440px) {
    .huge-input-content {
        flex-direction: column;
        row-gap: 5px;
    }

    .only-input input {
        width: 260px;
    }

    .block-info-4 {
        padding: 17px 0 0 15px;
    }

    .kichkina {
        flex-direction: column;
        row-gap: 10px;
    }

    .kichkina img {
        width: 50px;
        height: 50px;
    }

    .small-content-user h5 {
        width: 95%;
    }

    .block-info-4 {
        margin-bottom: 20px;
    }
}

@media (max-width: 415px) {
    .info-about-person {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .user-info {
        padding-left: 22px;
    }

    .info-user {
        margin: 0 0 0 17px;
    }



    .slider-user button {
        margin: 15px 0 0 0;
    }

    .small-content-user h4 {
        margin: 55px 0 0 0;
    }
}