.img-content img {
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.img-content h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 5px 0 0 0;
}



.stars p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 15px 0;
    color: #fff;
}

.stars img {
    margin: 0 6px;
}

.ul-wrap li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FDFDFD;
    cursor: pointer;
}

.ul-wrap li {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 60px;
}


.ul-wrap li img {
    margin: 0 10px 0 0;
}

.active {
    background-color: #353535;
}

.ul-wrap {
    flex: 1 1 auto;
    margin: 80px 0 0 0;
}

.left-content {
    background-color: #131313;
    width: 278px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dffds {
    text-align: center;
    padding-top: 49px;
}

.icon h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.icon {
    align-items: center;
    margin: 130px 0 0 60px;
    padding-bottom: 50px;
}

.block-info-2 {
    padding: 69px 0 0 115px;
}

.block-info-2 h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    border-bottom: 1px solid #C5C5C5;
    width: 456px;
    padding: 0 0 10px 0;
}

.block-info-2 h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 30px 0 0 0;
}

.block-info-2 h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 25px 0;
}

.block__info__2__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A4A4A4;
}

.block__info__2__input{
    border: 2px solid #C5C5C5;
    border-radius: 10px;
    padding: 20px 0 20px 30px;
    outline: none;
    width: 456px;
    margin: 0 0 30px 0;
}

.text h4 {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9F9F9F;
    margin: 30px 0 10px 0;
}

.text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.main-text {
    justify-content: space-between;
    width: 100%;
}

.visa-content {
    border: 2px solid #C5C5C5;
    padding: 30px 0 30px 30px;
}

.db {
    display: block;
}

hr {
    background-color: #C5C5C5;
    width: 456px;
}
.btn_1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 15px 50px;
    border: 2px solid #C5C5C5;
    border-radius: 15px;
    margin: 0 30px 0 0;
    background-color: transparent;
    cursor: pointer;
}

.btn_2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 15px 50px;
    background: #D9573B;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.btn-content {
    margin: 30px 0 0 0;
}

.middle-block-2 h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    border-bottom: 1px solid #C5C5C5;
    width: 456px;
    padding: 0 0 10px 0;
}

.middle-block-2 h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 0 150px 0 0;
    margin-left: 15px;
}

.middle-block-2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.blocks {
    margin: 30px 0 0 0;
}

.block {
    justify-content: space-between;
    width: 83%;
    margin: 16px 0;
}

.line {
    width: 426px;
    height: 1px;
    background-color: #C5C5C5;
    margin: 16px 0 0 30px;
}

.main-block {
    justify-content: space-between;
    width: 93%;
}

.middle-block-2 {
    margin: 0 0 0 114px;
    padding-left: 115px;
}

@media (max-width: 1535px) {
    .middle-block-2 {
        margin: 0 0 0 30px;
        padding-left: 115px;
    }
}

@media (max-width: 1460px) {
    .middle-block-2 {
        margin: 0 0 0 0;
        padding-left: 95px;
    }

    .block-info-2 {
        padding: 69px 0 0 80px;
    }
}


@media (max-width: 1370px) {
    .middle-block-2 {
        margin: 0 0 0 0;
        padding-left: 80px;
    }

    .block-info-2 {
        padding: 69px 0 0 50px;
    }
}

@media (max-width: 1322px) {
    .middle-block-2 {
        margin: 0 0 0 0;
        padding-left: 50px;
    }

    .block-info-2 {
        padding: 69px 0 0 30px;
    }
}

@media (max-width: 1270px) {
    .middle-block-2 {
        margin: 0 0 0 0;
        padding-left: 40px;
    }

    .block-info-2 {
        padding: 69px 0 0 30px;
    }

    .middle-block-2 h1 {
        width: 390px;
    }

    .line {
        width: 370px;
    }

    .middle-block-2 h2 {
        padding: 0 80px 0 0;
    }

    .block-info-2 h1 {
        width: 400px;
    }

    /*.block__info__2__input {*/
    /*    width: 400px;*/
    /*}*/

    hr {
        width: 400px;
    }

    .block-info-2 h5 {
        width: 99%;
    }
}

@media (max-width: 1160px) {
    .block-info-2 h1 {
        width: 360px;
    }

    .line {
        width: 320px;
    }

    .middle-block-2 h2 {
        padding: 0 56px 0 0;
    }

    .block__info__2__input {
        width: 350px;
    }

    hr {
        width: 350px;
    }

    .main-text {
        width: 84%;
    }

    .block-info-2 h1 {
        width: 350px;
    }

    .middle-block-2 {
        margin: 0 0 0 0;
        padding-left: 0px;
    }
}

@media (max-width: 1070px) {
    .left-content {
        width: 240px;
    }

    .stars img {
        margin: 0 4px;
    }
}

@media (max-width: 1040px) {
    .block-info-2 h1 {
        width: 320px;
    }

    .line {
        width: 260px;
    }

    .middle-block-2 h2 {
        padding: 0 35px 0 0;
    }

    .block__info__2__input {
        width: 300px;
    }

    hr {
        width: 300px;
    }

    .block-info-2 h1 {
        width: 290px;
    }

    .block-info-2 h5 {
        width: 71%;
    }

    .main-text {
        width: 75%;
    }

    .btn_1,
    .btn_2 {
        padding: 15px 30px;
    }

    .icon {
        padding-bottom: 42px;
    }
}

@media (max-width: 970px) {
    .block-info-2 h1 {
        width: 260px;
        font-size: 33px;
    }

    .line {
        width: 230px;
    }

    .middle-block-2 h2 {
        padding: 0 9px 0 0;
    }

    .block {
        width: 94%;
    }

    .block__info__2__input {
        width: 270px;
    }

    hr {
        width: 270px;
    }

    .btn_1,
    .btn_2 {
        padding: 15px 25px;
    }
}

@media (max-width: 940px) {
    .block-info-2 {
        flex-direction: column;
    }

    .middle-block-2 {
        margin: 40px 20px 0 0;
    }

    .block-info-2 h1 {
        width: 100%;
        font-size: 36px;
    }


    .block__info__2__input {
        width: 380px;
    }

    hr {
        width: 380px;
    }

    .btn_1,
    .btn_2 {
        padding: 15px 50px;
    }

    .main-text {
        width: 91%;
    }

    .line {
        width: 350px;
    }

    .middle-block-2 h2 {
        padding: 0 115px 0 0;
    }
}

@media (max-width: 655px) {
    .block__info__2__input {
        width: 330px;
    }

    hr {
        width: 330px;
    }

    .btn_1,
    .btn_2 {
        padding: 15px 30px;
    }

    .main-text {
        width: 81%;
    }

    .line {
        width: 300px;
    }

    .block {
        width: 82%;
    }

    .middle-block-2 h2 {
        padding: 0 85px 0 0;
    }
}

@media (max-width: 610px) {


    .block__info__2__input {
        width: 300px;
    }

    hr {
        width: 300px;
    }

    .btn_1,
    .btn_2 {
        padding: 15px 30px;
    }

    .main-text {
        width: 81%;
    }

    .line {
        width: 270px;
    }

    .block {
        width: 82%;
    }

    .middle-block-2 h2 {
        padding: 0 50px 0 0;
    }

    .block-info-2 {
        padding: 58px 0 0 15px;
    }

}

@media (max-width: 593px) {
    .block-info-2 h5 {
        width: 100%;
    }

    .middle-block-2 h2 {
        padding: 0 30px 0 0;
    }
}

@media (max-width: 560px) {
    .main {
        display: block;
    }

    .left-content {
        width: 278px;
    }

    .stars img {
        margin: 0 6px;
    }

    .block-info-2 {
        padding: 58px 0 40px 15px;
    }

    .main-text {
        width: 67%;
    }

    .block-info-2 h1 {
        width: 100%;
    }

    .block__info__2__input {
        width: 370px;
    }

    hr {
        width: 100%;
    }

    .block-info-2 h5 {
        width: 75%;
    }

    .line {
        width: 340px;
    }

    .btn_1,
    .btn_2 {
        padding: 15px 50px;
    }

    .block {
        width: 63%;
    }

    .middle-block-2 h2 {
        padding: 0 100px 0 0;
    }

    .ul-wrap li {
        padding: 20px 0 20px 70px;
    }

    .icon {
        margin: 130px 0 0 70px;
    }
}

@media (max-width: 495px) {
    .main-text {
        width: 77%;
    }

    .middle-block-2 h2 {
        padding: 0 60px 0 0;
    }
}

@media (max-width: 445px) {
    .main-text {
        width: 83%;
    }

    .middle-block-2 h2 {
        padding: 0 20px 0 0;
    }
}

@media (max-width: 400px) {
    .main-text {
        width: 90%;
    }

    .middle-block-2 h2 {
        padding: 0 0 0 0;
    }

    .block {
        width: 83%;
    }

    .middle-block-2 h2 {
        padding: 0 50px 0 0;
    }


    .block__info__2__input {
        width: 350px;
    }

    .block-info-2 hr {
        width: 350px;
    }

    .line {
        width: 320px;
    }

    .btn_1,
    .btn_2 {
        padding: 15px 30px;
    }
}

@media (max-width: 370px) {
    .main-text {
        width: 90%;
    }

    .block-info-2 {
        padding: 0 0 0 30px;
    }

    .block {
        width: 83%;
    }

    .middle-block-2 h2 {
        padding: 0 50px 0 0;
    }

    .block-info-2 h1 {
        width: 330px;
    }

    .block__info__2__input {
        width: 330px;
    }

    .block-info-2 hr {
        width: 330px;
    }

    .line {
        width: 300px;
    }
}