#root .header__profile a {
  color: #fff;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#root main .pick {
  padding-bottom: 30px;
}
#root main .pick h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #000;
  padding-top: 149px;
  padding-bottom: 50px;
  text-align: center;
}

@media (max-width: 750px) {
  #root main .pick h1 {
    padding-top: 90px;
    padding-bottom: 0;
    font-size: 35px;
  }
}

#root main .pick .pick {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#root main .pick .pick .reg {
  /* margin-right: 30px; */
  width: 500px;
  height: 400px;
  background: #fafafa;
  border: 2px solid #c5c5c5;
  border-radius: 20px;
}
#root main .pick .pick .reg a {
  display: flex;
  color: #9e9b9b;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-decoration: none;
  flex-direction: column;
}
#root main .pick .pick .reg a p {
  padding-top: 30px;
}
#root main .pick .pick .reg a .cli {
  padding-top: 10px;
}
