.wrap {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);

    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    background-color: white;
    border-radius: 10px;
    padding: 100px 30px;

    width: 630px;
    max-width: 95%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}


.heading {
    margin-bottom: 20px;
    text-align: center;
}



.heading_h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}


.add_photo {
    --size: 100px;
    width: var(--size);
    height: calc(var(--size) - 25px);
    border-radius: 4px;
    border: 2px solid #D9573B;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button,
.button_back {
    width: 127px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #D9573B;
    color: white;
    border-radius: 4px;
}

.button_back {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button:hover,
.button_back:hover {
    cursor: pointer;
    opacity: 0.7;
}

.select {
    width: 250px;
    border-radius: 4px;
    border: 1px solid #E9EAF1;
    padding: 10px;
    padding-left: 40px;
    font-size: 15px;

    padding-left: 30px;
    cursor: pointer;

    outline: none;
}

.icon2 {
    position: absolute;
    bottom: 10px;
    left: 8px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
}

.stars > * {
    filter: grayscale(1);
    cursor: pointer;
}

.yellow {
    filter: grayscale(0);
}

.text_block {
    margin-bottom: 20px;
}

.input {
    --size: 40px;
    width: var(--size);
    height: var(--size);

    text-align: center;
    font-size: 20px;
}