@import '../scss/settings.css';

#root {
  main {
    .login {
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        color: #000000;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 50px;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 571px;
        align-items: center;
        margin: 0 auto;
        input {
          border: 2px solid #C5C5C5;
          border-radius: 10px;
          padding: 20px 31px;
          width: 571px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          outline: none;
          &:focus {
            border: 2px solid #2B2B2B;
          }
          margin-bottom: 30px;
          &::placeholder {
            color: #A4A4A4;
          }
        }
        button {
          padding: 15px 50px;
          background: #D9573B;
          border-radius: 15px;
          font-style: normal;
          font-weight: 400;
          border: 0;
          cursor: pointer;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 50px;
          color: #FFFFFF;
        }
        a {
          font-style: normal;
          font-weight: 400;
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 17px;
          text-decoration: none;
          color: #000000;
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

