
.login {
	padding-bottom: 30px;
}

 #root main .login h1 {
	 font-style: normal;
	 font-weight: 400;
	 font-size: 50px;
	 line-height: 60px;
	 color: #000;
	 text-align: center;
	 padding-top: 150px;
	 padding-bottom: 50px;
}
 #root main .login form {
	width: 90%;
	max-width: 571px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 margin: 0 auto;
}
 #root main .login form input {
	 border: 2px solid #c5c5c5;
	 border-radius: 10px;
	 padding: 20px 31px;
	 width: 100%;
	 max-width: 571px;
	 font-style: normal;
	 font-weight: 400;
	 font-size: 16px;
	 line-height: 19px;
	 outline: none;
	 margin-bottom: 20px;
}
 #root main .login form input:focus {
	 border: 2px solid #2b2b2b;
}
 #root main .login form input::placeholder {
	 color: #a4a4a4;
}
 #root main .login form button {
	 padding: 15px 50px;
	 background: #d9573b;
	 border-radius: 15px;
	 font-style: normal;
	 font-weight: 400;
	 border: 0;
	 cursor: pointer;
	 font-size: 20px;
	 line-height: 24px;
	 margin-bottom: 50px;
	 color: #fff;
}
 #root main .login form a {
	 font-style: normal;
	 font-weight: 400;
	 margin-bottom: 10px;
	 font-size: 14px;
	 line-height: 17px;
	 text-decoration: none;
	 color: #000;
}
 #root main .login form a span {
	 text-decoration: underline;
}


.auth-err {
	/* width: 426px; */
	width: 100%;
	max-width: 571px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 20px;
	font-size: 14px;
	background: #D9573B;
	color: #fff;
	border-radius: 10px;
}


@media (max-width: 762px) {
	.register-client__error {
		width: 100%;
		max-width: 385px;
	}
}
  

.succeed-v {
	width: 100%;
	text-align: center;
	line-height: 40px;
	margin-bottom: 10px;
	font-size: 14px;
	background: #32ff73;
	color: #fff;
	border-radius: 10px;
}

.login-keep {
	margin-top: -10px;
	margin-bottom: 20px;
}

.login-keep__input {
	vertical-align: middle;
	width: auto!important;
	margin-bottom: 0!important;
	margin-right: 5px;
}
 

.input_phone_wrap_recovery {
    position: relative;
	width: min-content;
    /* width: 100%; */
}

.input_phone_wrap_recovery input {
	/* width: 100%; */
	/* padding-left: 42px; */
}

/* .input_phone_wrap_recovery::before {
    content: "+7";
    position: absolute;
    font-size: 14px;
    left: 25px;
    top: 11px;
    color: rgb(97, 97, 97);
} */


.password-recovery-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.phone_input_lite {
	color: gray;
  }

.phone_input_lite:focus,
.phone_input_accent {
color:  black;
}


@media (max-width: 762px) {
    .input_login_password__fix {
        max-width: 385px !important;
        width: 100% !important;
    }
}
