.wrap {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);

    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px;

    max-width: 630px;
    width: 100%;
    position: relative;
}


.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}


.heading {
    margin-bottom: 20px;
}

.error {
    width: 100%;
    border-radius: 4px;
    background-color: #D9573BC2;
    color: #FFFFFF;
    padding: 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

.input_heading {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E9EAF1;
    padding: 10px 15px;
    font-size: 15px;

    margin-bottom: 10px;
}

.textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E9EAF1;
    padding: 10px 15px;
    font-size: 15px;
    resize: none;
}

.textarea_description {
    position: absolute;
    bottom: -20px;
    right: 20px;
    font-size: 10px;
    color: #0000009a;
}

.row1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mini_heading {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.balance {
    font-size: 18px;
    color: #A3A3A3;
    margin-bottom: 5px;
}

.input_balance {
    width: 250px;
    border-radius: 4px;
    border: 1px solid #E9EAF1;
    padding: 10px 15px;
    font-size: 15px;

    padding-left: 30px;
}

.icon {
    position: relative;
}

.icon::after  {
    position: absolute;
    content: "₽";
    left: 6px;
    top: 8px;
    font-size: 20px;

    color: #A3A3A3;
}

.heading_h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.block_photo {
    margin-bottom: 20px;
}

.add_photo {
    --size: 85px;
    width: var(--size);
    height: calc(var(--size) - 25px);
    border-radius: 4px;
    border: 2px solid #D9573B;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.add_photo img {
    width: 40%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button,
.button_back {
    width: 127px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #D9573B;
    color: white;
    border-radius: 4px;
}

.button_back {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button:hover,
.button_back:hover {
    cursor: pointer;
    opacity: 0.7;
}

.select {
    width: 250px;
    border-radius: 4px;
    border: 1px solid #E9EAF1;
    padding: 10px;
    padding-left: 40px;
    font-size: 15px;

    padding-left: 30px;
    cursor: pointer;

    outline: none;
}

.message {
    text-align: center;
    font-size: 25px;
    width: 80%;
    margin: 0 auto 30px;
}