.blockPayment_wrap {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.311);
    width: 100%;
    height: 100%;
    z-index: 115;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.blockPayment {
    position: relative;

    background-color: white;
    border-radius: 10px;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    max-width: 800px;
}

.block {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        --size: 20px;
        width: var(--size);
        height: var(--size);
        cursor: pointer;
    }

    label {
        cursor: pointer;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close:hover {
    scale: 1.1;
}

.radio {
    display: flex;
    align-items: center;
    gap: 10px;

    // padding-top: 50px;

    // position: relative;
    // top: 50px;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.mini_text {
    font-size: 12px;
}

.button {
    background-color: #D9573B;
    color: white;
    border-radius: 4px;
    width: 127px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #ff6f4f;
}

.error {
    background-color: #D9573B;
    border-radius: 10px;
    color: white;
    // font-weight: 600;
    font-size: 16px;

    width: 700px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
}
